{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <div class="button-container">
    <button class="btn btn-primary"><a href="/liburuaGehitu" style="color: white">Liburua Gehitu</a></button>
    <button class="btn btn-primary"><a href="/liburuaEzabatu" style="color: white">Liburua Ezabatu</a></button>
    <button class="btn btn-primary"><a href="/erabiltzaileaGehitu" style="color: white">Erabiltzailea Gehitu</a></button>
    <button class="btn btn-primary"><a href="/erabiltzaileaEzabatu" style="color: white">Erabiltzailea Ezabatu</a></button>
  </div>
</div>
{% endblock %}