{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

    <form class="form-inline">
      <div class="input-group mb-2 mr-sm-2">
        <label for="Name" class="col-sm-2 col-form-label">Name</label>
        <input type="text" class="form-control mb-2" id="Name" name="Name" placeholder="Write here the user's name" {% if Name != "": %}value="{{Name}}"{% endif %}>
      </div>
      <div class="input-group mb-2 mr-sm-2">
        <label for="Email" class="col-sm-2 col-form-label">Email</label>
        <input type="text" class="form-control mb-2" id="Email" name="Email" placeholder="Write here the user's email" {% if Email != "": %}value="{{Email}}"{% endif %}>
      </div>
      <button type="submit" class="btn btn-primary">
          <i class="fa fa-search"></i>
          Bilatu
      </button>
    </form>

    <br>
    <p style="font-size: 28px;">Zuk erreserbatutako liburu zerrenda</p>

    {% if libros %}
        <div class="row">
            {% for libro in libros %}
                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card d-flex flex-row" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{libro.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{libro.author}}</h6>
                            {% if libro.description %}
                                <p class="card-text">{{libro.description}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr class="hr" />

        <nav>
          <ul class="pagination justify-content-center">

              {% if current_page-3 > 1: %}
              <li class="page-item">
                  <a class="page-link" href="{{request.path}}?Name={{Name}}&Email={{Email}}&page=1" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                  </a>
              </li>
              {% endif %}
            {% for page in range(max(1, current_page-3),min(total_pages+1, current_page+4)) %}
                <li class="page-item"><a class="page-link {% if page == current_page %}active{% endif %}" href="{{request.path}}?Name={{Name}}&Email={{Email}}&page={{page}}">{{page}}</a></li>
            {% endfor %}
            {% if current_page+3 < total_pages : %}
              <li class="page-item">
                  <a class="page-link" href="{{request.path}}?Name={{Name}}&Email={{Email}}&page={{total_pages}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                  </a>
              </li>
            {% endif %}
          </ul>
        </nav>
    {% else %}
        <p>No se encontraron libros con el nombre o correo electrónico proporcionado.</p>
    {% endif %}

</div>

{% endblock %}
