{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

    <form class="form-inline">
      <div class="input-group mb-2 mr-sm-2">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <input type="text" class="form-control mb-2" id="title" name="title" placeholder="Title" {% if title != "": %}value="{{title}}"{% endif %}>
      </div>
      <div class="input-group mb-2 mr-sm-2">
        <label for="author" class="col-sm-2 col-form-label">Author</label>
        <input type="text" class="form-control mb-2" id="author" name="author" placeholder="Author name" {% if author != "": %}value="{{author}}"{% endif %}>
      </div>
      <button type="submit" class="btn btn-primary">
          <i class="fa fa-search"></i>
          Search
      </button>
    </form>


    <br>
    <p style="font-size: 28px;">Zuk erreserbatutako liburu zerrenda</p>

    {% if libros %}
        <div class="row">
            {% for libro in libros %}
                <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                    <div class="card d-flex flex-row" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{libro.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{libro.author}}</h6>
                            {% if libro.description %}
                                <p class="card-text">{{libro.description}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr class="hr" />

        
    {% else %}
        <p>No se encontraron libros con el nombre o autor proporcionados.</p>
    {% endif %}

</div>

{% endblock %}
