{% extends 'base.html' %}

{% block content %}
  <!DOCTYPE html>
  <div class="container p-5 my-5 border">
    <form class="form-inline" method="post" action="{% if nota is None %}/erreseina_sortuta{% else %}/erreseina_editatuta{% endif %}">
      <input type="hidden" name="eraId" value="{{ eraId }}">
      <input type="hidden" name="libId" value="{{ libId }}">
      <input type="hidden" name="data" value="{{ data }}">
      <table>
        <div class="input-group mb-2 mr-sm-2">
          <label for="data" class="col-sm-2 col-form-label">Data</label>
          <input type="text" class="form-control mb-2" id="data" name="data" value="{{ data }}">
        </div>
        <tr>
          BALORAZIOA: <!-- BALORAZIOA laukia ipintzea -->
          <td>
            <select name="nota" id="nota">
              <option value="0" {% if nota == '0' %}selected{% endif %}>0</option>
              <option value="1" {% if nota == '1' %}selected{% endif %}>1</option>
              <option value="2" {% if nota == '2' %}selected{% endif %}>2</option>
              <option value="3" {% if nota == '3' %}selected{% endif %}>3</option>
              <option value="4" {% if nota == '4' %}selected{% endif %}>4</option>
              <option value="5" {% if nota == '5' %}selected{% endif %}>5</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Zure iruzkinak hemen ipini:</td><!-- IRUZKINA laukia ipintzea -->
        </tr>
        <tr>
          <td>
            <textarea name="iruzkina" rows="10" cols="50" maxlength="200" placeholder="200 karaktere maximo idatzi ahal dira">{{ iruzkina }}</textarea>
          </td>
        </tr>
      </table>
      <div align="center">
        {% if nota is None %}
          <td><input type="submit" name="SORTU" value="SORTU" class="button"></td>
        {% else %}
          <td><input type="submit" name="EDITATU" value="EDITATU" class="button"></td>
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}

