{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <div style="text-align: center; margin-top: 50px;">
        <h1>Erreseina sortzerakoan/editatzerakoan errore bat gertatu da!!</h1>
        <p>Gogoratu erreseina bat sortzerakoa edo editatzerakoan baldintza batzuk bete behar direla:</p>
        <p>- Erreseina bat sortzeko, jada liburu hori mailegatuta eta bueltatuta egon behar da.</p>
        <p>- Erreseina bat editatzeko, editatu nahi den erreseina jada sortuta egon behar da.</p>
    </div>
</div>
{% endblock %}

