{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

    <form class="form-inline">
      <div class="input-group mb-2 mr-sm-2">
        <label for="title" class="col-sm-2 col-form-label">Lagunaren izena</label>
        <input type="text" class="form-control mb-2" id="title" name="title" placeholder=" " {% if title != "": %}value="{{title}}"{% endif %}>
      </div>
      <button type="submit" class="btn btn-primary">
          <i class="fa fa-search"></i>
          Bilatu
      </button>
    </form>

    <hr class="hr" />

        <!-- Lista de libros -->
    <div class="row">
        {% for User in lagunak %}
            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                <div class="card d-flex flex-row" style="width: 18rem;">
                    {% if book.cover: %}
                        <img src="{{book.cover}}" class="rounded" style="max-width: 6rem; height: fit-content;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
                        {% if book.description: %}
                        <p class="card-text">{{book.description}}</p>
                        {% endif %}
                        {% if request.user %}
                            <a href='/reserve/book/{{book.id}}' class="btn btn-primary mt-2">
                                <i class="fas fa-book"></i> Reservar
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


<h1>Nire lagunak</h1>
<a href="/jasotakoEskaerak">
<button type="button">Jasotako lagun eskaerak ikusi</button>
</a>

<a href="/bidalitakoEskaerak">
<button type="button">Bidalitako lagun eskaerak ikusi</button>
</a>

</div>

{% endblock %}
