{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

    <form class="form-inline">
      <div class="input-group mb-2 mr-sm-2">
        <label for="title" class="col-sm-2 col-form-label">Lagunaren izena</label>
        <input type="text" class="form-control mb-2" id="title" name="title" placeholder=" " {% if title != "": %}value="{{title}}"{% endif %}>
      </div>
      <button type="submit" class="btn btn-primary">
          <i class="fa fa-search"></i>
          Bilatu
      </button>
    </form>
    <h1>Nire lagunak</h1>
    <hr class="hr" />

        {% for lagun in lagunak %}
            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                <div class="card d-flex flex-row" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{lagun.name}}</h5>
                        <p class="card-text">{{lagun.email}}</p>
                        <button type="button" class="btn btn-primary">Ezabatu</button>
                    </div>
                </div>
            </div>

        {% endfor %}

    <a href="/jasotakoEskaerak">
    <button type="button" class="btn btn-primary">Jasotako lagun eskaerak ikusi</button>
    </a>

    <a href="/bidalitakoEskaerak">
    <button type="button" class="btn btn-primary">Bidalitako lagun eskaerak ikusi</button>
    </a>

    <hr class="hr" />
</div>
{% endblock %}
