{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <h1>Nire lagunak</h1>
    <hr class="hr" />

        {% for lagun in lagunak %}
            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                <div class="card d-flex flex-row" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{lagun.name}}</h5>
                        <p class="card-text">{{lagun.email}}</p>
                        <form method="POST">
                        <button type="button" class="btn btn-primary" value="ezabatu" id="ezabatu" name="ezabatu">Ezabatu</button>
                        <input type="hidden" value="{{lagun.email}}" id="mail" name="mail">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    
        <hr class="hr" />

    <a href="/jasotakoEskaerak">
    <button type="button" class="btn btn-primary">Jasotako lagun eskaerak ikusi</button>
    </a>

    <a href="/bidalitakoEskaerak">
    <button type="button" class="btn btn-primary">Bidalitako lagun eskaerak ikusi</button>
    </a>

    <hr class="hr" />
</div>
{% endblock %}
